<a href="https://colab.research.google.com/github/coderanandmaurya/Feature-engineering/blob/main/Date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime
start_date = datetime.today()
dates_start = pd.date_range(start=start_date, periods=10, freq='D')
dates_start[:5]

DatetimeIndex(['2022-06-13 07:25:35.294393', '2022-06-14 07:25:35.294393',
               '2022-06-15 07:25:35.294393', '2022-06-16 07:25:35.294393',
               '2022-06-17 07:25:35.294393'],
              dtype='datetime64[ns]', freq='D')

In [3]:
dates_end = pd.date_range(start=start_date, periods=10, freq='D')
dates_end[:5]

DatetimeIndex(['2022-06-13 07:25:35.294393', '2022-06-14 07:25:35.294393',
               '2022-06-15 07:25:35.294393', '2022-06-16 07:25:35.294393',
               '2022-06-17 07:25:35.294393'],
              dtype='datetime64[ns]', freq='D')

In [4]:
import random
randomList = []
for i in range(10):
    randomList.append(random.randint(0,1))

# dataframe
df = pd.DataFrame()
df['Start_date'] = dates_start
df['End_date'] = dates_end
df['Target'] = randomList

df.head()

                  Start_date                   End_date  Target
0 2022-06-13 07:25:35.294393 2022-06-13 07:25:35.294393       0
1 2022-06-14 07:25:35.294393 2022-06-14 07:25:35.294393       1
2 2022-06-15 07:25:35.294393 2022-06-15 07:25:35.294393       0
3 2022-06-16 07:25:35.294393 2022-06-16 07:25:35.294393       1
4 2022-06-17 07:25:35.294393 2022-06-17 07:25:35.294393       1

In [5]:
# day
df['Day'] = df['Start_date'].dt.day
# month
df['Month'] = df['Start_date'].dt.month
# year
df['Year'] = df['Start_date'].dt.year
# hour
df['Start_hour'] = df['Start_date'].dt.hour
# minute
df['Start_minute'] = df['Start_date'].dt.minute
# second
df['Start_second'] = df['Start_date'].dt.second
# Monday is 0 and Sunday is 6
df['Start_weekday'] = df['Start_date'].dt.weekday
# week of the year
df['Start_week_of_year'] = df['Start_date'].dt.week
# duration
df['Duration'] = df['End_date']-df['Start_date']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  app.launch_new_instance()

In [6]:
df.head(5)

,Start_date,End_date,Target,Day,Month,Year,Start_hour,Start_minute,Start_second,Start_weekday,Start_week_of_year,Duration
0,2022-06-13 07:25:35.294393,2022-06-13 07:25:35.294393,0,13,6,2022,7,25,35,0,24,0 days
1,2022-06-14 07:25:35.294393,2022-06-14 07:25:35.294393,1,14,6,2022,7,25,35,1,24,0 days
2,2022-06-15 07:25:35.294393,2022-06-15 07:25:35.294393,0,15,6,2022,7,25,35,2,24,0 days
3,2022-06-16 07:25:35.294393,2022-06-16 07:25:35.294393,1,16,6,2022,7,25,35,3,24,0 days
4,2022-06-17 07:25:35.294393,2022-06-17 07:25:35.294393,1,17,6,2022,7,25,35,4,24,0 days